This notebook collects data from various sources and saves them in the database. <br>
The codes here could be executed to create the database for the first time.

## Install MySQL

Before starting the process, you would need MySQL. Install it to the local from [here](https://dev.mysql.com/downloads/mysql/). Remember the password since you would need them to connect to MySQL.

In [1]:
import os

path_parent = os.path.dirname(os.getcwd())
os.chdir(path_parent)

print("Currently working at {}".format(os.getcwd()))

Currently working at /Users/gieunkwak/Data Analytics/platform

In [45]:
import mysql.connector
from mysql.connector import Error
from pandas.io import sql
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import time

import investpy
from fredapi import Fred
import json
from matplotlib import pyplot as plt
import quandl
from datetime import date
from app.utils.fetch_data import *
from app.utils.db_connection import *

## Get credentials

In [3]:
# with open('app/keys/keys.json', 'r') as key_file:
#     keys = json.load(key_file)
    
with open('app/utils/index_codes.json', 'r') as indx:
    index_codes = json.load(indx)

## Call data example

In [4]:
today = date.today().strftime("%Y-%m-%d")
today

'2022-05-15'

In [34]:
bei5y = fred_fred(index_codes['Fred']['Breakeven inflation rate 5y'], 
                 observation_start='2012-01-01', observation_end=today)
treasury10y = fred_fred(index_codes['Fred']['Treasury 10y'],
                    observation_start='2012-01-01', observation_end=today)

2022-05-15 19:04:43,490 [app.utils.db_connection] [INFO] Fetching data from fred: T5YIE, from 2012-01-01 to 2022-05-15.
2022-05-15 19:04:44,239 [app.utils.db_connection] [INFO] Fetching data from fred: DGS10, from 2012-01-01 to 2022-05-15.

In [6]:
treasury10y.tail(2)

           date     v   code code_name             p_key
2702 2022-05-11  2.91  DGS10   tsry10y  2022_05_11_DGS10
2703 2022-05-12  2.84  DGS10   tsry10y  2022_05_12_DGS10

In [7]:
total_stock = investing_api('etf', 'VTI', '2020-01-01', today)

2022-05-15 18:36:54,527 [app.utils.fetch_data] [INFO] Fetching etf from investing_api: VTI, from 01/01/2020 to 15/05/2022

In [8]:
total_stock.head(2)

,Date,Open,High,Low,Close,Volume,Currency,Exchange,ticker,p_key
0,2020-01-02,164.68,164.98,163.78,164.98,3291790,USD,NYSE,VTI,2020_01_02_VTI
1,2020-01-03,163.29,164.47,163.01,163.93,3625467,USD,NYSE,VTI,2020_01_03_VTI

## save data to local environment

### connect to local

In [47]:
connection = create_server_connection("localhost", "root", 'gi941505')

2022-05-15 20:04:25,623 [app.utils.db_connection] [INFO] MySQL Database connection successful

### Create database

In [48]:
create_database(connection, "CREATE DATABASE econ")

2022-05-15 20:04:26,020 [app.utils.db_connection] [INFO] Error: '1007 (HY000): Can't create database 'econ'; database exists'

### connect to DB and create table

In [81]:
connection = create_db_connection("localhost", "root", 'gi941505', 'econ')

2022-05-15 21:27:47,085 [app.utils.db_connection] [INFO] MySQL Database connection successful

In [33]:
execute_query(connection, 'DROP TABLE fred_daily') # delete table

create_fred_table = """
CREATE TABLE fred_daily (
    p_key VARCHAR(50) PRIMARY KEY,
    date DATE,
    v FLOAT(50, 2),
    code VARCHAR(50) NOT NULL
    );
"""

execute_query(connection, create_fred_table)

2022-05-15 19:57:49,993 [app.utils.db_connection] [INFO] Query successful
2022-05-15 19:57:50,001 [app.utils.db_connection] [INFO] Query successful

In [75]:
execute_query(connection, 'DROP TABLE stock_daily') # delete table

create_stock_table = """
CREATE TABLE stock_daily (
    p_key VARCHAR(50) PRIMARY KEY,
    Date DATE,
    Open FLOAT(50, 2),
    High FLOAT(50, 2),
    Low FLOAT(50, 2),
    Close FLOAT(50, 2),
    Volume FLOAT(50, 2),
    Currency VARCHAR(50) NOT NULL,
    Exchange VARCHAR(50),
    ticker VARCHAR(50) NOT NULL
    );
"""

execute_query(connection, create_stock_table)

2022-05-15 21:25:53,281 [app.utils.db_connection] [INFO] Query successful
2022-05-15 21:25:53,292 [app.utils.db_connection] [INFO] Query successful

In [82]:
execute_query(connection, 'DROP TABLE etf_daily') # delete table

create_stock_table = """
CREATE TABLE etf_daily (
    p_key VARCHAR(50) PRIMARY KEY,
    Date DATE,
    Open FLOAT(50, 2),
    High FLOAT(50, 2),
    Low FLOAT(50, 2),
    Close FLOAT(50, 2),
    Volume FLOAT(50, 2),
    Currency VARCHAR(50) NOT NULL,
    Exchange VARCHAR(50),
    ticker VARCHAR(50) NOT NULL
    );
"""

execute_query(connection, create_stock_table)

2022-05-15 21:28:00,167 [app.utils.db_connection] [INFO] Error: '1051 (42S02): Unknown table 'econ.etf_daily''
2022-05-15 21:28:00,179 [app.utils.db_connection] [INFO] Query successful

In [83]:
connection.close()

## Input data to DB

In [84]:
# mysql+pymysql://[db유저이름]:[db password]@[host address]/[db name]

db_connection_str = 'mysql+pymysql://root:gi941505@127.0.0.1:3306/econ'
db_connection = create_engine(db_connection_str)
conn = db_connection.raw_connection()

### Fred data

In [37]:
for name, idx in index_codes['Fred'].items():
    df = fred_fred(idx, observation_start='1900-01-01', observation_end=today)
    
    df.to_sql(name='fred_daily', con=db_connection, if_exists='append', index=False)

2022-05-15 19:57:55,119 [app.utils.fetch_data] [INFO] Fetching data from fred: DGS10, from 1900-01-01 to 2022-05-15.
2022-05-15 19:57:58,142 [app.utils.fetch_data] [INFO] Fetching data from fred: M2NS, from 1900-01-01 to 2022-05-15.
2022-05-15 19:57:59,495 [app.utils.fetch_data] [INFO] Fetching data from fred: M2SL, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:00,528 [app.utils.fetch_data] [INFO] Fetching data from fred: SP500, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:01,969 [app.utils.fetch_data] [INFO] Fetching data from fred: CPIAUCNS, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:03,128 [app.utils.fetch_data] [INFO] Fetching data from fred: T5YIE, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:04,793 [app.utils.fetch_data] [INFO] Fetching data from fred: T10YIE, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:06,592 [app.utils.fetch_data] [INFO] Fetching data from fred: FPCPITOTLZGUSA, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:07,377 [app.utils.fetch_data] [INFO] Fetching data from fred: TDSP, from 1900-01-01 to 2022-05-15.
2022-05-15 19:58:08,283 [app.utils.fetch_data] [INFO] Fetching data from fred: FODSP, from 1900-01-01 to 2022-05-15.

### stock data

In [79]:
for name, idx in index_codes['Investing.com'].items():
    t = name.split(' - ')[0]
    if t == 'stock':
        df = investing_api(t, idx, '1900-01-01', today)

        df.to_sql(name='stock_daily', con=db_connection, if_exists='append', index=False)
        time.sleep(10) # to reduce stress from calling the API
    else:
        continue

### etf data

In [90]:
for name, idx in index_codes['Investing.com'].items():
    t = name.split(' - ')[0]
    if t == 'etf':
        df = investing_api(t, idx, '1900-01-01', today)

        df.to_sql(name='etf_daily', con=db_connection, if_exists='append', index=False)
        time.sleep(10) # to reduce stress from calling the API
    else:
        continue

In [91]:
conn.close()

End